<head>
	<script type="text/javascript" src="../../Scripts/glMatrix-0.9.5.min.js"></script>
	<script type="text/javascript" src="../../Scripts/webgl-utils.js"></script>

	<script type="text/javascript">
		var audioContext;
		var bufferLoader;
		var soundBuffer;
		var analyser;
		var bufferLength;
		var dataArray;

		var canvas2d;
		var canvas2dContext;
		var drawVisual;

		function init() {
			setUpCanvasContext();
			setUpAudioContext();
			loadSound('../../mp3/KokirikoBushi.mp3');
		}

		function setUpCanvasContext() {
			canvas2d = document.getElementById('musicVisCanvas2d');
			canvas2dContext = canvas2d.getContext('2d');
			canvas2dContext.clearRect(0, 0, canvas2d.width, canvas2d.height);
		}

		function setUpAudioContext() {
			try {
				window.AudioContext = window.AudioContext || window.webkitAudioContext;
				audioContext = new AudioContext();
				analyser = audioContext.createAnalyser();
			}
			catch (e) {
				alert('Web Audio API is not supported in this browser');
			}
		}

		function loadSound(audioFile) {
			var request = new XMLHttpRequest();
			request.open('GET', audioFile, true);
			request.responseType = 'arraybuffer';
			request.onload = function () {
				audioContext.decodeAudioData(request.response, function (buffer) {
					soundBuffer = buffer;
					playSound(soundBuffer);
					
					
					analyser.fftSize = 2048;
					bufferLength = analyser.frequencyBinCount;
					dataArray = new Uint8Array(bufferLength);
					console.log(analyser);
					draw2d();
				});
			}
			request.send();
		}

		function playSound(buffer) {
			var source = audioContext.createBufferSource();
			source.buffer = buffer;
			source.connect(audioContext.destination);
			source.start(0);
		}

		function draw2d() {
			drawVisual = requestAnimationFrame(draw2d);
			analyser.getByteTimeDomainData(dataArray);
			console.log(analyser.getByteTimeDomainData(dataArray));
		}
	</script>

<!--	<script type="text/javascript">
		var gl;

		function start() {
			var canvas = document.getElementById("musicVisCanvas");
			gl = initWebGL(canvas);
			if (gl) {
				gl.clearColor(0.0, 0.0, 0.0, 1.0);
				gl.enable(gl.DEPTH_TEST);
				gl.depthFunc(gl.LEQUAL);
				gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
			}
		}

		function initWebGL(canvas) {
			gl = null;
			try {
				gl = canvas.getContext("webgl") || canvas.getContext("experimental-webgl");
			}
			catch (e) { }
			if (!gl) {
				alert("Unable to initialize WebGL. Your browser may not support it.");
				gl = null;
			}
			return gl;
		}
	</script>-->
</head>
<!--<body onload="start();">
	<canvas id="musicVisCanvas3d" style="border: none; width: 100%; height: 100%"></canvas>
</body>-->
<body onload="init()">
	<canvas id="musicVisCanvas2d" width="500" height="500"></canvas>
</body>